.mcc-grid-row {
  float: left;
  clear: both;
  width: 100%;

  .mcc-grid-one-half {
    float: left;
    width: 1/2 * 100%;
  }

  .mcc-grid-one-third {
    float: left;
    width: 1/3 * 100%;
  }

  .mcc-grid-one {
    float: left;
    width: 1/6 * 100%;
  }

  .mcc-grid-two {
    float: left;
    width: 2/6 * 100%;
  }

  .mcc-grid-three {
    float: left;
    width: 3/6 * 100%;
  }

  .mcc-grid-four {
    float: left;
    width: 4/6 * 100%;
  }

  .mcc-grid-five {
    float: left;
    width: 5/6 * 100%;
  }

  .mcc-grid-six {
    float: left;
    width: 6/6 * 100%;
  }
}
