@import 'resets';
@import 'colors';
@import 'grid';
@import 'typography';

body {
  font-family: sans-serif;
  background-color: $purple;
  color: $fontColor;
}

.declaration-order {
  /* Positioning */
  /* Box-model */
  /* Typography */
  /* Visual */
  /* Misc */
}
